@font-face {
  font-family: 'pure';
  src: url('../font/pure.eot?65190359');
  src: url('../font/pure.eot?65190359#iefix') format('embedded-opentype'),
       url('../font/pure.woff2?65190359') format('woff2'),
       url('../font/pure.woff?65190359') format('woff'),
       url('../font/pure.ttf?65190359') format('truetype'),
       url('../font/pure.svg?65190359#pure') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pure';
    src: url('../font/pure.svg?65190359#pure') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pure";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-record-outline:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-googleplus-rect:before { content: '\e805'; } /* '' */
.icon-facebook-rect:before { content: '\e806'; } /* '' */
.icon-file-pdf:before { content: '\e807'; } /* '' */
.icon-building:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-newspaper-1:before { content: '\e80a'; } /* '' */
.icon-rocket:before { content: '\e80b'; } /* '' */
.icon-user-md:before { content: '\e80c'; } /* '' */
.icon-award:before { content: '\e80d'; } /* '' */
.icon-book-open:before { content: '\e80e'; } /* '' */
.icon-pin:before { content: '\e80f'; } /* '' */
.icon-graph1:before { content: '\e810'; } /* '' */
.icon-notebook:before { content: '\e811'; } /* '' */
.icon-note2:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e813'; } /* '' */
.icon-delete-user:before { content: '\e814'; } /* '' */
.icon-science:before { content: '\e815'; } /* '' */
.icon-news-paper:before { content: '\e816'; } /* '' */
.icon-appbar-social-whatsapp:before { content: '\e817'; } /* '' */
.icon-chat-empty:before { content: '\e818'; } /* '' */
.icon-phone:before { content: '\e819'; } /* '' */
.icon-paper-plane-empty:before { content: '\e81a'; } /* '' */
.icon-note:before { content: '\e81b'; } /* '' */
.icon-share:before { content: '\e81c'; } /* '' */
.icon-call:before { content: '\e81d'; } /* '' */
.icon-comment:before { content: '\e81e'; } /* '' */
.icon-paper-plane:before { content: '\e81f'; } /* '' */
.icon-like2:before { content: '\e820'; } /* '' */
.icon-mail:before { content: '\e821'; } /* '' */
.icon-add-user:before { content: '\e822'; } /* '' */
.icon-airplay:before { content: '\e823'; } /* '' */
.icon-alarm:before { content: '\e824'; } /* '' */
.icon-album:before { content: '\e825'; } /* '' */
.icon-albums:before { content: '\e826'; } /* '' */
.icon-anchor:before { content: '\e827'; } /* '' */
.icon-angle-down:before { content: '\e828'; } /* '' */
.icon-angle-down-circle:before { content: '\e829'; } /* '' */
.icon-angle-left:before { content: '\e82a'; } /* '' */
.icon-angle-left-circle:before { content: '\e82b'; } /* '' */
.icon-angle-right:before { content: '\e82c'; } /* '' */
.icon-angle-right-circle:before { content: '\e82d'; } /* '' */
.icon-angle-up:before { content: '\e82e'; } /* '' */
.icon-angle-up-circle:before { content: '\e82f'; } /* '' */
.icon-arc:before { content: '\e830'; } /* '' */
.icon-attention:before { content: '\e831'; } /* '' */
.icon-camera:before { content: '\e832'; } /* '' */
.icon-calculator:before { content: '\e833'; } /* '' */
.icon-browser:before { content: '\e834'; } /* '' */
.icon-box2:before { content: '\e835'; } /* '' */
.icon-bottom-arrow:before { content: '\e836'; } /* '' */
.icon-bookmarks:before { content: '\e837'; } /* '' */
.icon-door-lock:before { content: '\e838'; } /* '' */
.icon-bluetooth:before { content: '\e839'; } /* '' */
.icon-back:before { content: '\e83a'; } /* '' */
.icon-back-2:before { content: '\e83b'; } /* '' */
.icon-ball:before { content: '\e83c'; } /* '' */
.icon-bandaid:before { content: '\e83d'; } /* '' */
.icon-battery:before { content: '\e83e'; } /* '' */
.icon-bell:before { content: '\e83f'; } /* '' */
.icon-bicycle:before { content: '\e840'; } /* '' */
.icon-compass:before { content: '\e841'; } /* '' */
.icon-config:before { content: '\e842'; } /* '' */
.icon-car:before { content: '\e843'; } /* '' */
.icon-cart:before { content: '\e844'; } /* '' */
.icon-cash:before { content: '\e845'; } /* '' */
.icon-chat:before { content: '\e846'; } /* '' */
.icon-check:before { content: '\e847'; } /* '' */
.icon-clock:before { content: '\e848'; } /* '' */
.icon-close:before { content: '\e849'; } /* '' */
.icon-close-circle:before { content: '\e84a'; } /* '' */
.icon-cloud:before { content: '\e84b'; } /* '' */
.icon-cloud-download:before { content: '\e84c'; } /* '' */
.icon-cloud-upload:before { content: '\e84d'; } /* '' */
.icon-coffee:before { content: '\e84e'; } /* '' */
.icon-credit:before { content: '\e84f'; } /* '' */
.icon-crop:before { content: '\e850'; } /* '' */
.icon-culture:before { content: '\e851'; } /* '' */
.icon-cup:before { content: '\e852'; } /* '' */
.icon-diamond:before { content: '\e853'; } /* '' */
.icon-disk:before { content: '\e854'; } /* '' */
.icon-diskette:before { content: '\e855'; } /* '' */
.icon-display1:before { content: '\e856'; } /* '' */
.icon-display2:before { content: '\e857'; } /* '' */
.icon-date:before { content: '\e858'; } /* '' */
.icon-drawer:before { content: '\e859'; } /* '' */
.icon-key:before { content: '\e85a'; } /* '' */
.icon-drop:before { content: '\e85b'; } /* '' */
.icon-edit:before { content: '\e85c'; } /* '' */
.icon-download:before { content: '\e85d'; } /* '' */
.icon-graph2:before { content: '\e85e'; } /* '' */
.icon-exapnd2:before { content: '\e85f'; } /* '' */
.icon-expand1:before { content: '\e860'; } /* '' */
.icon-eyedropper:before { content: '\e861'; } /* '' */
.icon-female:before { content: '\e862'; } /* '' */
.icon-file:before { content: '\e863'; } /* '' */
.icon-film:before { content: '\e864'; } /* '' */
.icon-filter:before { content: '\e865'; } /* '' */
.icon-flag:before { content: '\e866'; } /* '' */
.icon-folder:before { content: '\e867'; } /* '' */
.icon-gift:before { content: '\e868'; } /* '' */
.icon-glasses:before { content: '\e869'; } /* '' */
.icon-gleam:before { content: '\e86a'; } /* '' */
.icon-global:before { content: '\e86b'; } /* '' */
.icon-graph:before { content: '\e86c'; } /* '' */
.icon-graph3:before { content: '\e86d'; } /* '' */
.icon-gym:before { content: '\e86e'; } /* '' */
.icon-hammer:before { content: '\e86f'; } /* '' */
.icon-headphones:before { content: '\e870'; } /* '' */
.icon-helm:before { content: '\e871'; } /* '' */
.icon-help1:before { content: '\e872'; } /* '' */
.icon-help2:before { content: '\e873'; } /* '' */
.icon-home-1:before { content: '\e874'; } /* '' */
.icon-hourglass:before { content: '\e875'; } /* '' */
.icon-id:before { content: '\e876'; } /* '' */
.icon-info:before { content: '\e877'; } /* '' */
.icon-joy:before { content: '\e878'; } /* '' */
.icon-junk:before { content: '\e879'; } /* '' */
.icon-keypad:before { content: '\e87a'; } /* '' */
.icon-leaf:before { content: '\e87b'; } /* '' */
.icon-mail-open:before { content: '\e87c'; } /* '' */
.icon-mail-open-file:before { content: '\e87d'; } /* '' */
.icon-male:before { content: '\e87e'; } /* '' */
.icon-left-arrow:before { content: '\e87f'; } /* '' */
.icon-less:before { content: '\e880'; } /* '' */
.icon-light:before { content: '\e881'; } /* '' */
.icon-like:before { content: '\e882'; } /* '' */
.icon-link:before { content: '\e883'; } /* '' */
.icon-lintern:before { content: '\e884'; } /* '' */
.icon-lock:before { content: '\e885'; } /* '' */
.icon-look:before { content: '\e886'; } /* '' */
.icon-loop:before { content: '\e887'; } /* '' */
.icon-magic-wand:before { content: '\e888'; } /* '' */
.icon-magnet:before { content: '\e889'; } /* '' */
.icon-map:before { content: '\e88a'; } /* '' */
.icon-map-2:before { content: '\e88b'; } /* '' */
.icon-map-marker:before { content: '\e88c'; } /* '' */
.icon-medal:before { content: '\e88d'; } /* '' */
.icon-menu-1:before { content: '\e88e'; } /* '' */
.icon-micro:before { content: '\e88f'; } /* '' */
.icon-monitor:before { content: '\e890'; } /* '' */
.icon-moon:before { content: '\e891'; } /* '' */
.icon-more:before { content: '\e892'; } /* '' */
.icon-mouse:before { content: '\e893'; } /* '' */
.icon-music:before { content: '\e894'; } /* '' */
.icon-mute:before { content: '\e895'; } /* '' */
.icon-network:before { content: '\e896'; } /* '' */
.icon-next:before { content: '\e897'; } /* '' */
.icon-next-2:before { content: '\e898'; } /* '' */
.icon-paint:before { content: '\e899'; } /* '' */
.icon-paint-bucket:before { content: '\e89a'; } /* '' */
.icon-paperclip:before { content: '\e89b'; } /* '' */
.icon-pen:before { content: '\e89c'; } /* '' */
.icon-pendrive:before { content: '\e89d'; } /* '' */
.icon-phone-1:before { content: '\e89e'; } /* '' */
.icon-photo:before { content: '\e89f'; } /* '' */
.icon-photo-gallery:before { content: '\e8a0'; } /* '' */
.icon-piggy:before { content: '\e8a1'; } /* '' */
.icon-pin-1:before { content: '\e8a2'; } /* '' */
.icon-plane:before { content: '\e8a3'; } /* '' */
.icon-rocket-1:before { content: '\e8a4'; } /* '' */
.icon-play:before { content: '\e8a5'; } /* '' */
.icon-plug:before { content: '\e8a6'; } /* '' */
.icon-plugin:before { content: '\e8a7'; } /* '' */
.icon-plus:before { content: '\e8a8'; } /* '' */
.icon-portfolio:before { content: '\e8a9'; } /* '' */
.icon-power:before { content: '\e8aa'; } /* '' */
.icon-prev:before { content: '\e8ab'; } /* '' */
.icon-print:before { content: '\e8ac'; } /* '' */
.icon-radio:before { content: '\e8ad'; } /* '' */
.icon-refresh:before { content: '\e8ae'; } /* '' */
.icon-refresh-2:before { content: '\e8af'; } /* '' */
.icon-refresh-cloud:before { content: '\e8b0'; } /* '' */
.icon-repeat:before { content: '\e8b1'; } /* '' */
.icon-ribbon:before { content: '\e8b2'; } /* '' */
.icon-right-arrow:before { content: '\e8b3'; } /* '' */
.icon-safe:before { content: '\e8b4'; } /* '' */
.icon-scissors:before { content: '\e8b5'; } /* '' */
.icon-search:before { content: '\e8b6'; } /* '' */
.icon-server:before { content: '\e8b7'; } /* '' */
.icon-settings:before { content: '\e8b8'; } /* '' */
.icon-shield:before { content: '\e8b9'; } /* '' */
.icon-shopbag:before { content: '\e8ba'; } /* '' */
.icon-shuffle:before { content: '\e8bb'; } /* '' */
.icon-signal:before { content: '\e8bc'; } /* '' */
.icon-smile:before { content: '\e8bd'; } /* '' */
.icon-speaker:before { content: '\e8be'; } /* '' */
.icon-star:before { content: '\e8bf'; } /* '' */
.icon-stopwatch:before { content: '\e8c0'; } /* '' */
.icon-study:before { content: '\e8c1'; } /* '' */
.icon-sun:before { content: '\e8c2'; } /* '' */
.icon-switch:before { content: '\e8c3'; } /* '' */
.icon-target:before { content: '\e8c4'; } /* '' */
.icon-ticket:before { content: '\e8c5'; } /* '' */
.icon-timer:before { content: '\e8c6'; } /* '' */
.icon-tools:before { content: '\e8c7'; } /* '' */
.icon-trash:before { content: '\e8c8'; } /* '' */
.icon-umbrella:before { content: '\e8c9'; } /* '' */
.icon-unlock:before { content: '\e8ca'; } /* '' */
.icon-up-arrow:before { content: '\e8cb'; } /* '' */
.icon-upload:before { content: '\e8cc'; } /* '' */
.icon-usb:before { content: '\e8cd'; } /* '' */
.icon-user-female:before { content: '\e8ce'; } /* '' */
.icon-musiclist:before { content: '\e8cf'; } /* '' */
.icon-vector:before { content: '\e8d0'; } /* '' */
.icon-video:before { content: '\e8d1'; } /* '' */
.icon-voicemail:before { content: '\e8d2'; } /* '' */
.icon-box1:before { content: '\e8d3'; } /* '' */
.icon-copy-file:before { content: '\e8d4'; } /* '' */
.icon-volume:before { content: '\e8d5'; } /* '' */
.icon-volume1:before { content: '\e8d6'; } /* '' */
.icon-volume2:before { content: '\e8d7'; } /* '' */
.icon-wallet:before { content: '\e8d8'; } /* '' */
.icon-way:before { content: '\e8d9'; } /* '' */
.icon-wine:before { content: '\e8da'; } /* '' */
.icon-world:before { content: '\e8db'; } /* '' */
.icon-wristwatch:before { content: '\e8dc'; } /* '' */
.icon-appbar-globe:before { content: '\e8dd'; } /* '' */
.icon-record:before { content: '\e8de'; } /* '' */
.icon-right-open-big:before { content: '\e8df'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */